/* Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/* Style for the available groups */

.available-groups {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.group-name {
    margin-left: 3vh;
    width: 70%;
}

.group-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1vh;
    column-gap: 2vh;
}

.group-count {
    text-align: center;
}

.group-join {
    float: right;
}

.group-join:hover {
    color: green;
    cursor: pointer;
}


/* Style for the header buttons */
.createbtn:hover {
    color: green;
    cursor: pointer;
}

.leavebtn:hover {
    color: red;
    cursor: pointer;
}

.taskbtn:hover {
    color: orange;
    cursor: pointer;
}

.groupbtn:hover {
    color: purple;
    cursor: pointer;
}

.requestbtn:hover {
    color: rgb(220, 245, 0);
    cursor: pointer;
}