/* Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/* Style for the available groups */

.available-groups {
    display: flex;
    justify-content: flex-start;     
    gap: 5px;
    min-width: 90%;
    margin-top: 20px;
}

.group-item {
    color: white;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    min-width: 360px;

    background: rgb(247, 186, 44);
    background: linear-gradient(90deg, rgba(247, 186, 44, 1) 0%, rgba(0 ,0, 0, 0) 100%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.group-name {
    margin-top: 5px;
    margin-left: 15px;
    flex-grow: 1;
}

.group-details {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    margin-bottom: 10px;
    margin-right: 20px;
}

.group-count {
    text-align: center;
}

.group-join {
    float: right;
}

.group-join:hover {
    color: green;
    cursor: pointer;
}


/* Style for the header buttons */
.createbtn:hover {
    color: green;
    cursor: pointer;
}

.leavebtn:hover {
    color: red;
    cursor: pointer;
}

.taskbtn:hover {
    color: orange;
    cursor: pointer;
}

.membersbtn:hover {
    color: purple;
    cursor: pointer;
}

.requestbtn:hover {
    color: rgb(220, 245, 0);
    cursor: pointer;
}


/* GROUP MEMBERS */
.members-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-top: 5vh;

}

.members-list-item {
    color: white;
    font-size: 1.5rem;

    display: flex;
    justify-content: flex-start;     
    gap: 30px;
    width: 100%;
    margin-bottom: 20px;
}

.members-name {
    flex-grow: 1;
    margin-left: 5px;
}

.members-btns {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    margin-bottom: 10px;
    margin-right: 20px;
}

.members-btns:hover {
    color: red;
    cursor: pointer;
}


/* GROUP REQUESTS */

.request-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 5vh;
}

.request-list-item {
    color: white;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 2vh;
}

.request-name {
    float: left;
}

.request-btns {
    right: 0;
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-right: 3vh;
    column-gap: 2vw;
}

.request-deny:hover {
    color: red;
    cursor: pointer;
}

.request-accept:hover {
    color: green;
    cursor: pointer;
}

/* GROUP TASK */
::-webkit-scrollbar {
    display: none;
}

.group-task {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll !important;
}

.task {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-top: 3vh;
    overflow-y: scroll !important;
}

.task-title {
    font-size: 2.0vh;
    padding: 1vh 1vh 1vh 1vh;
    color: white !important;
}

.task-description {
    font-size: 1.3vh;
    padding: 1vh 1vh 1vh 1vh;
    color: white !important;
}

.task-item {
    border: none;
    background: #343a40;
    color: white;
    transition: 0.4s ease;
    overflow-wrap: break-word !important;
    border-radius: 6px;
    margin: 0px 20px 20px 20px;
    min-width: 30vh;
    max-width: 30vh;
}

.task-item-active {
    border: 1px solid #fb8500; 
    box-shadow: 5px 5px 10px #fb8500, -5px -5px 10px #fb8500;
    background: #343a40;
    color: white;
    transition: 0.4s ease;
    overflow-wrap: break-word !important;
    border-radius: 6px;
    margin: 0px 20px 20px 20px;
    min-width: 30vh;
    max-width: 30vh;
}

.task-item-completed {
    border: 1px solid #b9fbc0; 
    box-shadow: 5px 5px 7px #b9fbc0, -5px -5px 7px #b9fbc0;
    background: #343a40;
    color: white;
    transition: 0.4s ease;
    overflow-wrap: break-word !important;
    border-radius: 6px;
    margin: 0px 20px 20px 20px;
    min-width: 30vh;
    max-width: 30vh;
}